body {
  padding: 0px;
  margin: 0px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.AppContainer {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: auto;
  flex-direction: row;
}

.SidebarContainer {
  background-color: white;
  position: relative;
  width: 280px;
  height: 100%;
  border-right: 3px solid #464953;
}

.ScreenContainer {
  background-color: white;
  width: 80%;
  height: 100%;
}

.NavOptionsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;

}

.NavButton {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  font-weight: 500;
  color: #464953;
  cursor: pointer;
  width: 100%;
  height: 75;
  border-top: 3px solid #464953;
}

.NavButton:hover {
  color: #ff5656;
  opacity: 0.90;
}

.NavIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff5656;
  border-right: 3px solid #464953;
  height: 75px;
  width: 75px;
}

.NavText {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 205px;
}
.SidebarLogoContainer {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.SidebarLogo {
  position: relative;
  width: 85%;
  height: 15%;
}
