body {
  padding: 0px;
  margin: 0px;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.AppContainer {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: auto;
  flex-direction: row;
}

.SidebarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  position: relative;
  width: 220px;
  height: 100%;
  border-right: 3px solid #464953;
}

.ScreenContainer {
  background-color: #ff5656;
  width: 80%;
  height: 100%;
}

.NavOptionsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 25px;
}

.NavButton {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: 500;
  color: #464953;
  cursor: pointer;
  width: 100%;
  height: 75;
  border-top: 3px solid #464953;
}

.NavButton:hover {
  color: #ff5656;
  opacity: 0.85;
}

.NavIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff5656;
  border-right: 3px solid #464953;
  height: 50px;
  width: 50px;
}

.NavText {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 205px;
}
.SidebarLogoContainer {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #DCDCDC;
}
.SidebarLogo {
  position: relative;
  width: 85%;
  height: 15%;
}

.SidebarButton {
  display: flex;
  border: 3px solid white;
  background-color: #ff5656;
  height: 35px;
  width: 66%;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  margin-top: 75px;
  padding: 10px;
  padding-right: 16px;
  padding-left: 16px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.SidebarButton:hover {
  opacity: 0.85;
  border: 3px solid #ff5656;
  background-color: white;
  color: #ff5656;
}
