#App {
  display: flex;
  background-color: #ff5656ff;
  height: 100% !important;
  width: 100% !important;
  margin: 0;
  position: absolute;
  margin: auto;
  justify-content: center;
  align-items: center;

}

#user-info {
  margin: 0px auto;
  width: 30%;
  height: 60%;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

#text-input {
  margin: 10px;
  height: 10%;
  width: 65%;
  font-size: 18px;
  border: none;
}

#button {
  height: 10%;
  width: 45%;
  border-radius: 10px;
  font-size: 18px;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
}

#img {
  position: relative;
  width: 60%;
  height: 30%;
  padding-top: 30px;
  border-color: blue;
  border-width: 1px;
}
